node_modules
npm-debug.log
bower_components
build
dist
docs
src/styles/css/orange.css
src/styles/css/orange.css.map
src/styles/fonts/bootstrap/
scss-lint-report.xml
coverage
html-report
.tscache
.baseDir.ts
.editor-conf
*.tmp.txt
.idea
/local.karma.conf.js
/src/styles/fonts/bootstrap/glyphicons-halflings-regular.svg
/bin
/dist
/node_modules
/src
/.idea
/.tscache
